.venv
build/
*.aux
*.fdb_latexmk
*.fls
*.log
report_a*.pdf
report_d.pdf
*.synctex.gz
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.nav
*.out
*.snm
p*.synctex.gz
presentation.pdf
*.synctex(busy)
presentation/v0/presentation.bbl
presentation/v0/presentation.blg

