report.aux
report.fdb_latexmk
report.fls
report.log
report.pdf
report.synctex.gz
report.toc
report.bbl
report.bcf
report.blg
report.run.xml
presentation.snm
presentation.synctex.gz
presentation.toc
presentation.aux
presentation.fdb_latexmk
presentation.fls
presentation.log
presentation.nav
presentation.out
